@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/* * {
    box-sizing: border-box;
  }
  html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }
  section {
    border-bottom: 1px solid white;
    scroll-snap-align: start;
    position: relative;
    background-color: red;
  } */

html {
  background-color: black;
}
body {
  background-color: black;
}